@import url("scroll.css");
@import url("fonts.css");
body{
    font-family: "Roboto";
}

.navbar-nav{
    font-family: "Roboto";
}

.logo{
    font-family: "Bebas Neue";
    color:#5200ff;
}

.logo:hover{
    color:#5200ff;
}

.logo:visited{
    color:#5200ff;
}

.admin2{
    padding-right: 10px;
}

  .banner{
    padding-top:80px;
}

.Banner-head h1{
    color:#5200ff;
    line-height:3rem;
}

.Banner-head{
    padding-top:9rem;
    font-family: 'Bebas Neue';
}

.btn{
    background-color:#5200ff;
    color:#fff;
    font-family: 'Roboto';
    margin-left:44%;
    font-size: 18px;
}

.btn:hover{
    border:1px solid #5200ff !important;
    color:#5200ff !important;
}
.header{
    text-align: center;
    padding-top:8rem;
}

hr{
    height: 5px; 
    background-color: #5200ff;
    opacity:1;
    width:8%;
    border:0;
    margin:auto;
    border-radius: 10px;
}

.lead{
    font-family:'Roboto';
    line-height: 3rem;
}
.tags{
    text-align:center;
    padding-top:3rem;
}

.tags p{
    font-size: 1.5rem;
}

.ender{
    background-color: #5200ff;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 76%;
    top: -10px;
    width: 24%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-content a{
    text-decoration: none;
    color:#000;
    padding:10px;
    text-align: center;
  }

.content{
    padding-left:7%;
    padding-right:7%;
    padding-top:2%;
}

table, tr{

    width:100%;
    font-size:18px;
    margin-bottom:10%;
}
td{

    padding:10px;
}

input[type="text"],input[type="email"]{
    width:50%;
    height:37px;
}

select{
    width:50%;
    height:37px;
    background-color: #fff;
}